@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    font-family: 'Poppins',
    sans-serif !important;
}

.img-1,
.img-2,
.img-3{
    object-fit: cover;
    height: 400px;
}

.down-btn{
    width: 200px;
}
